header {
    height: 505px;
    background-image: url('/assets/images/header-background.svg');
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 95%;
    margin-inline: auto;
}

#header-title,
#section-04.section-title {
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
}

.header-container {
    padding: 0 1rem;
    margin-top: 4.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#header-title, 
.header-discord-description {
    color: #FFF;
}

#header-title {
    font-weight: 400;
    text-transform: uppercase;
}

.header-discord-description {
    font-weight: 400;
    font-weight: 1rem;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#download-button,
#open-browser-button {
    height: 3.4rem;
    border-radius: 1.75rem;
    border-style: none;
    font-size: 1rem;
}

#download-button {
    background-color: #FFF;
}

#open-browser-button {
    background-color: #000;
    color: #FFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 800;
}

#section-04.section-title {
    font-size: 2rem;
    font-weight: 400;
}

#section-02, #section-04 {
    background-color: #F6F6F6;
}

footer {
    background-color: #000;
    height: 8.75rem;
    display: flex;
    justify-content: center;
}

.footer-discord-image  {
    max-width: 50%;
}

